@import "normalize.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-welcome-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}